extends head.pug
block main
    form(action="/quotes/create" method="POST")
        input.make(type="text" name="author" placeholder="Author")
        input.make(type="text" name="quote" placeholder="Your quote...")
        input.submit(type="submit" value="Save")