extends head.pug
block main
    div.loginPart
        h2.hIn Create a new quote!
        form(action="/quotes/create" method="POST")
            input.lCreate(type="text" name="author" placeholder="Author" required autofocus)
            textarea.taCreate(name="quote" rows="5" placeholder="Your special quote" required)
            input.taSubmit(type="submit" value="Save quote")
            p#nice Please only write nice things!