extends head.pug
block header
    img(src="/favicon.png" alt="Feather logo")
    h1 "Quotes"
    form(action="/quotes/create")
        input(type="submit" value="Create new" class="create")
    a#login(href="/login") Login
    a#register(href="/register") Register
block main
    ul
        each data in val
            div.maindiv
                h1=data.author
                p.quote=data.quote
                a(href="/quotes/"+data.author) Search
                    i.fas.fa-search
                a(href="/quotes/edit/" + data._id) Update
                    i.far.fa-edit
                a(href="/quotes/delete/" + data._id) Delete
                    i.far.fa-trash-alt
                p.extra="ID: " + data._id
                p.extra="Time: " + data.timestamp

