extends head.pug
block header
    img(src="/favicon.png" alt="Feather logo")
    h1 "Quotes"
    form.search(action="/quotes/show/" method="GET")
        input#search(type="search" name="author" placeholder="Search author")
        button(type="submit" class="faSubmit")
            i.fas.fa-search
    form.cNew(action="/quotes/create")
        input#cNew(type="submit" value="Create new" class="create")
    a#login(href="/login") Login
    a#register(href="/register") Register
block main
    ul
        each data in val
            div.maindiv
                h1=data.author
                p.quote=data.quote
                a(href="/quotes/edit/" + data._id)
                    i.far.fa-edit
                a(href="/quotes/delete/" + data._id)
                    i.far.fa-trash-alt
                p.extra="ID: " + data._id
                p.extra="Time: " + data.timestamp
block scroll
    button#topBtn(onclick="topFunction()" title="Go to the top")
        i.fas.fa-level-up-alt

