extends head.pug
block header
    form(action="/quotes/create")
        input(type="submit" value="Create new" class="create")

block main
    ul
        each data in val
            div
                h1=data.author
                p.quote=data.quote
                a(href="/quotes/"+data.author) Search
                    i.fas.fa-search
                a(href="/quotes/edit/" + data._id) Update
                    i.far.fa-edit
                a(href="/quotes/delete/" + data._id) Delete
                    i.far.fa-trash-alt
                p.extra="ID: " + data._id
                p.extra="Time: " + data.timestamp
                hr

