extends head.pug
block main
   div.loginPart
      h2.in Register a new account
      form(action="/register" method="POST")
         input.lCreate(type="email" name="email" placeholder="Enter a valid email" required)
         input.lCreate(type="password" name="password" placeholder="Enter a password")
         input(input type="hidden" name="date" value=date)
         input.lsubmit(type="submit" value="Register")
      p Already have an account?
         a.loginLink(href="/login") Login!