extends head.pug
block header
    img(src="/favicon.png" alt="Feather logo")
    h1 "Quotes"
    a.return(href="/quotes/")  Return
        i.fas.fa-undo
    form.cNew(action="/quotes/create")
        input#cNew(type="submit" value="Create new" class="create")
    a#login(href="/login") Login
    a#register(href="/register") Register
block main
    ul
        each data in val
             div.maindiv
                h1=data.author
                p.quote= data.quote
                div#changeIcons
                    a(href="/quotes/edit/" + data._id)
                        i.far.fa-edit
                    a(href="/quotes/delete/" + data._id)
                        i.far.fa-trash-alt
                div.tooltip
                    i.far.fa-question-circle
                    div.textra
                        span.extra="ID: " + data._id
                        span.extra="Time: " + data.timestamp