@import url('https://fonts.googleapis.com/css?family=Raleway:900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

body {
	background-color: blue;
	background-image: linear-gradient(10deg, rgb(96, 190, 221) 50%, transparent 50%), linear-gradient(-60deg, rgb(11, 103, 131) 30%, transparent 30%);
	color: #333;
}

.leaderboard {
	margin: 0 auto;
	display: flex;
	width: 30vw;
	flex-direction: column;
}

#leader {
	font-family: 'Raleway', sans-serif;
	font-size: 5vw;
	text-align: center;
	color: #000000;
}

.item {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	align-items: center;
	height: 7vh;
	border-radius: 4rem;
	margin-bottom: 2rem;
	background: #eee;
	box-shadow: 0 15px 20px rgba(17, 17, 17, 0.247);
}

.score {
	color: rgba(6, 20, 44, 0.884);
	text-align: right;
	margin: 0 2vw 0 auto;
}

.score:after {
	content: '	points';
	opacity: 0.8;
}

.item:hover {
	transform: scale(1.05);
}

.pos {
	font-size: 2vw;
	margin: 0 2vw;
	color: #000000;
}

.boardname {
	color: rgb(31, 30, 30);
}

@media screen and (max-width: 1500px) {
	.leaderboard {
		width: 35vw;
	}
}
@media screen and (max-width: 1000px) {
	.leaderboard {
		width: 45vw;
	}
}
@media screen and (max-width: 600px) {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	#leader{
		font-size: 10vw;
		margin: 2vw;
	}
	.leaderboard {
		width: 80vw;
	}
}
@media screen and (max-width: 400px) {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	#leader{
		font-size: 10vw;
		margin: 2vw;
	}
	.leaderboard {
		width: 90vw;
	}
	.pos{
		font-size: 5vw;
	}
	.item{
		height: 10vh;
	}
}