@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

:root {
    --strong-white: #fff;
    --less-white: #eee;
    --strong-black: #000;
    --medium-black: #161515;
    --less-black: #363636;
    --strong-shadow: #2e2c2ca2;
    --light-dark-shadow: #565252a2;
    --super-light-shadow: #b8b2b26b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background: var(--strong-black);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, var(--less-black), var(--strong-black));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--less-black), var(--strong-black));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
    width: 100%;
    padding: 2%;
    font-size: 1.3rem;
    border-radius: 25px;
    color: var(--less-white);
}

header {
    display: grid;
    grid-template-columns: 10vw auto auto 18vw 10vw 12.5vw;
    grid-template-areas: 'logo h1 search new link1 link2';
    height: 15vh;
}

header img {
    width: 8vw;
    height: 6vw;
    align-self: center;
    justify-self: right;
    filter: grayscale(100%);
}

header h1 {
    font-family: 'Mansalva', cursive;
    align-self: center;
    color: var(--strong-white);
    justify-self: left;
    font-size: 2.5rem;
    grid-area: h1;
}

header a {
    justify-self: left;
    font-family: 'Ubuntu', sans-serif;
    color: var(--strong-white);
    align-self: center;
    background: none;
    text-decoration: none;
    font-size: 1.9vw;
    width: 10vw;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 15px var(--light-dark-shadow);
    border-radius: 5px;
    transition: all 0.4s;
}

header a:hover {
    color: var(--strong-white);
    transform: scale(1.05);
    background: var(--super-light-shadow);
}

header #login {
    margin-right: 4%;
    grid-area: link1;
}

header #register {
    margin-left: 4%;
    grid-area: link2;
}

header .return {
    grid-area: new;
    box-shadow: none;
}

header .return:hover {
    background: none;
}

header .search {
    grid-area: new;
    position: relative;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    background: var(--strong-white);
    padding: 5px;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 1.75vw;
    border: 4px solid var(--strong-white);
}

header #search {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 85%;
    font-size: 2vw;
    font-family: 'Ubuntu', sans-serif;
    line-height: 80%;
    border-radius: 20%;
    outline: none;
    color: var(--medium-black);
    border: none;
    padding: 0.7vw 1vw 0 1vw;
}

header .search .fas {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5vw;
    width: 2.975vw;
    height: 2.975vw;
    border-radius: 50%;
    color: var(--medium-black);
    text-align: center;
    font-size: 4vh;
    transition: all 0.4s;
}

header .search:hover {
    width: 20vw;
    cursor: pointer;
}

header .search:hover #search {
    display: block;
}

header .search:hover .fas {
    cursor: pointer;
    background: var(--medium-black);
    color: var(--strong-white);
}

header .cNew {
    display: flex;
    align-items: center;
    justify-content: right;
}

.create {
    box-shadow: 0 10px 15px var(--light-dark-shadow);
    justify-self: right;
    color: var(--strong-white);
    background: none;
    cursor: pointer;
    width: 13vw;
    height: 50%;
    border-radius: 5px;
    padding: 2%;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s;
}

.create:hover {
    background: var(--super-light-shadow);
    transform: scale(1.1);
    text-decoration: underline;
}

.make { /* Too be fixed */
    width: 80vw;
    height: 15vh;
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 4vh;
    border: 2px solid var(--strong-black);
    margin-top: 1%;
    color: var(--medium-black);
}

.submit { /* Too be fixed */
    cursor: pointer;
    margin-top: 1%;
    color: #FBFCFC;
    background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 10px 15px #555555;
    border: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    width: 80vw;
    height: 15vh;
}

.submit:hover { /* Too be fixed */
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0.5vh 15px rgb(221, 31, 31);
    font-size: 150%;
}

.loginPart {
    font-family: 'Roboto Mono', monospace;
    margin: 0 27.5vw 0 27.5vw;
    display: grid;
    width: 35vw;
    height: 75vh;
    border-radius: 10px;
    background: var(--strong-white);
}

.hIn {
    font-size: 1.9vw;
    margin: 5vh 0 7vh 0;
    text-align: center;
}

.loginLink,
p {
    font-size: 1.2vw;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
}

.loginLink {
    padding-left: 5px;
    color: rgb(56, 43, 236);
}

.lCreate::placeholder {
    color: var(--light-dark-shadow);
}

.lCreate {
    font-family: 'Source Sans Pro', sans-serif;
    background: var(--super-light-shadow);
    color: var(--strong-black);
    font-size: 1.6vw;
    border: none;
    border-radius: 3px;
    width: 25vw;
    height: 7vh;
    margin: 0 5vw 2vh 5vw;
}

.lsubmit {
    cursor: pointer;
    background: var(--strong-black);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, var(--less-black), var(--strong-black));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--less-black), var(--strong-black));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--strong-white);
    width: 25vw;
    height: 10vh;
    margin: 10vh 5vw 10vh 5vw;
    border: none;
    border-radius: 5px;
    font-size: 1.7rem;
    transition: all .3s ease-in;
}

.lsubmit:hover {
    box-shadow: 1vh 1vh 15px var(--less-black);
    transform: scale(1.05);
}

main {
    width: 96vw;
    margin: 2vh 4vw 8vh 2vw;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    text-align: center;
}

.maindiv {
    background: var(--strong-white);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--strong-white), var(--less-white));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--strong-white), var(--less-white));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    width: 100%;
    height: 75vh;
    box-shadow: 0 0.5vh 10px var(--medium-black);
    overflow-y: auto;
    position: relative;
}

main h1 {
    word-wrap: break-word;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vw;
    width: 82%;
    height: 25%;
    margin: auto;
    color: var(--medium-black);
    text-transform: capitalize;
    padding: 1vh 2vh 0 2vh;
    transition: 0.5s ease;
}

.quote {
    height: 55%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vw;
    color: var(--less-black);
    padding: 3vh 3vh 5vh 3vh;
    margin: 0vh 3vh
}

.quote::first-letter {
    text-transform: capitalize;
    font-size: 2.6vw;
}

.maindiv #changeIcons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1%;
    right: 1%;
}

#changeIcons a {
    transition: all 0.4s ease-in;
    margin: .5vh;
    text-decoration: none;
    color: var(--strong-black);
    font-size: 2vw;
}

#changeIcons a:hover {
    transform: scale(1.1);
}

.fa-trash-alt {
    margin-right: .9vh;
}

.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip .fa-question-circle {
    font-size: 2vw;
}

.textra {
    position: relative;
    padding: 5px;
    background: var(--strong-shadow);
    width: 20vw;
    display: none;
    border-radius: 20px;
    flex-direction: column;
    margin-top: 1vh;
    transition: all 2s;

}

.extra {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--less-white);
    font-size: 1vw;
}

.tooltip:hover .textra {
    display: flex;
}

body::-webkit-scrollbar {
    display: none;
}

#topBtn {
    display: none;
}

#topBtn.shown {
    position: fixed;
    bottom: 1vh;
    right: 47%;
    display: block;
    width: 10vh;
    height: 10vh;
    z-index: 99;
    font-size: 7vh;
    border: none;
    background: var(--less-white);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--strong-white), var(--less-white));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--strong-white), var(--less-white));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--medium-black);
    box-shadow: 0 0 15px 10px var(--light-dark-shadow);
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    display: block;
}

.faSubmit {
    background: none;
    padding: 0px;
    border: none;
}

@media screen and (max-width: 1000px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }

    .lCreate {
        width: 50vw;
    }

    .lsubmit {
        width: 50vw;
    }

    .loginPart {
        margin: 0 20vw 0 20vw;
        width: 60vw;
        height: 75vh;
    }
}

@media screen and (min-width: 1300px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}